.text {
    font-weight: 500;
    font-family: 'Avenir Next Cyr';
    line-height: 130%;
    &Big {
        font-size: 24px;
    }
    &Medium {
        font-size: 18px;
    }
    &Small {
        font-size: 16px;
        line-height: 21px;
    }
    @media screen and (max-width: 567px) {
        &Big {
            font-size: 18px;
        }
        &Medium {
            font-size: 16px;
        }
        &Small {
            font-size: 14px;
            line-height: 21px;
        }
    }
}